@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your global styles */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.native-input {
  @apply w-full rounded-xl border border-gray-300 
         bg-gray-100/60 px-4 py-3 
         text-gray-900 shadow-inner;
}
